* {
    padding:0px;
    margin:0px;
    box-sizing: border-box;
}

.pointer {
	cursor:pointer;
}

a {
    color: #000000;
    text-decoration: none;
}

/* Unvisited link  */
a:visited {color: #000000;} /* Visited link    */
a:hover {color: #6ef839;}   /* Mouse over link */
a:active {color: #257e34;}  /* Selected link   */

.align-right {
	text-align:right;
}

body {
    background-color: #ffffff;
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
	font-size:16px;
}

header {
    position: fixed;
    width:100%;
    top:0px;
    left:0px;
    height:50px;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    opacity: 1;
    padding:80px 200px 50px 200px;
	font-size:30px;
}

main {
    margin:50px 50px;
}


