<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>API Nazioni Fitrato</title>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
		<link rel="stylesheet" href="./css/style.css">
		<script type="text/javascript">
			$(document).ready(function() {
				$.ajax({
					url : '/filtrato',
					method : 'get',
					success : function(data2) {
						for(var i = data2.length - 1; i >= 0; i--) {
							$('.grid').append(`<tbody class="grid-item">
											<tr><td class="colonna">${data2[i].id}</td><td class="colonna2">${data2[i].nazione}</td><td>${data2[i].sigla}</td>
											<td>${data2[i]._2000}</td><td>${data2[i]._2001}</td><td>${data2[i]._2002}</td>
											<td>${data2[i]._2003}</td><td>${data2[i]._2004}</td><td>${data2[i]._2005}</td>
											<td>${data2[i]._2006}</td><td>${data2[i]._2007}</td><td>${data2[i]._2008}</td>
											<td>${data2[i]._2009}</td><td>${data2[i]._2010}</td><td>${data2[i]._2011}</td>
											<td>${data2[i]._2012}</td><td>${data2[i]._2013}</td><td>${data2[i]._2014}</td>
											<td>${data2[i]._2015}</td><td>${data2[i]._2016}</td><td>${data2[i]._2017}</td></tr>
											</tbody>`);
						}
					}
				});
			});
		</script>
	</head>
	<body>
		<header>
			<div><a href="/filtrato" class="titolo">DATI</a></div>
			<div><a href="/" class="titolo">HOME</a></div>
			<div><a href="/json" class="titolo">JSON</a></div>
		</header>
		<main>
			<div style="overflow: auto; width: 1425px; height: 500px; margin-top: 170px;">
			<table class="grid">
				<thead><tr><th class="colonna th">Id</th><th class="colonna2 th">Nazione</th><th>Sigla</th>
						<th>2000</th><th>2001</th><th>2002</th><th>2003</th><th>2004</th><th>2005</th><th>2006</th><th>2007</th>
						<th>2008</th><th>2009</th><th>2010</th><th>2011</th><th>2012</th><th>2013</th><th>2014</th><th>2015</th>
						<th>2016</th><th>2017</th></tr>
				</thead>
			</table>
			</div>
		</main>
	</body>
</html>
