<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>API Nazioni</title>

		<script
				src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
				integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg=="
				crossorigin="anonymous">
		</script>

		<link rel="stylesheet" href="./css/style.css">

		<style>
			table {
				position: center;
				text-align: center;
				width: 100%;
				padding-right: 50px;
			}
			th, td {
				position: center;
				text-align: center;
				border: 1px solid black;
				width: 100%;
				white-space: nowrap;
				padding: 10px 10px 10px 10px;
			}
			main {
				margin:50px 50px;
			}
		</style>

		<script type="text/javascript">
			$(document).ready(function() {
				$.ajax({
					url : '/dati',
					method : 'get',
					success : function(data) {
						for(var i = data.length - 1; i >= 0; i--) {
							$('.grid').append(`<tbody class="grid-item">
											<tr><td>${data[i].id}</td><td>${data[i].nazione}</td><td>${data[i].sigla}</td>
											<td>${data[i]._2000}</td><td>${data[i]._2001}</td><td>${data[i]._2002}</td>
											<td>${data[i]._2003}</td><td>${data[i]._2004}</td><td>${data[i]._2005}</td>
											<td>${data[i]._2006}</td><td>${data[i]._2007}</td><td>${data[i]._2008}</td>
											<td>${data[i]._2009}</td><td>${data[i]._2010}</td><td>${data[i]._2011}</td>
											<td>${data[i]._2012}</td><td>${data[i]._2013}</td><td>${data[i]._2014}</td>
											<td>${data[i]._2015}</td><td>${data[i]._2016}</td><td>${data[i]._2017}</td></tr>
											</tbody>`);
						}
					}
				});
			});
		</script>
	</head>
	<body>
		<header>
			<div>
				<a href="./dati">DATI</a>
			</div>

			<div>
				<a href="./json">FILTRA</a>
			</div>

			<div>
				<a href="./json">JSON</a>
			</div>
		</header>
		<main>
			<table class="grid" style="position: center; width: 100%; margin-right: 50px; margin-top: 150px;">
				<thead>
					<tr>
						<th>Id</th><th>Nazione</th><th>Sigla</th>
						<th>2000</th><th>2001</th><th>2002</th><th>2003</th><th>2004</th><th>2005</th><th>2006</th><th>2007</th>
						<th>2008</th><th>2009</th><th>2010</th><th>2011</th><th>2012</th><th>2013</th><th>2014</th><th>2015</th>
						<th>2016</th><th>2017</th>
					</tr>
				</thead>
			</table>
		</main>
	</body>
</html>
